@import "../../../styles/mixins";

.home {
  padding: 24px;
  &__title {
    text-align: center;
    font-size: 96px;

    @include glowing-text;
  }

  &__button-container {
    margin-top: 72px;
    text-align: center;

    button {
      width: 80%;

      @include glowing-btn;
    }
  }
}
